@font-face {
    font-family: mandela-font;
    src: url(mandela-font.ttf);
}
body {
    font-family: mandela-font;
    background-color: rgb(230, 230, 230);
}
#side-bar {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #cccccc;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    text-align: center;
    color: #333;
}
#side-bar a {
    padding: 8px 8px 8px 32px;
    color: #333;
    text-decoration: none;
    font-size: 30px;
    display: block;
    margin-right: 30px;
}
#side-bar a:hover {
    opacity: 50%;
}
#side-bar .closebtn {
    position: absolute;
    top: 0;
    right: -15px;
    font-size: 36px;
    margin-left: 50px;
}
#side-bar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 5px;
}
#side-bar #web-logo {
    font-size: 35px;
    color: #333;
    opacity: 50%;
}
#side-bar #made-by {
    opacity: 30%;
}
#top-menu {
    background-color: #cccccc;
    margin: -10px;
    top: 0;
    position: sticky;
}
#top-menu #open-nav {
    margin-left: 20px;
}
#top-menu #top-web-logo {
    float: right;
    font-size: 30px;
    margin: 5px;
    color: #333;
}
#current {
    opacity: 50%;
}
#name {
    font-size: 20px;
}